@import "tailwindcss";

:root {
  --background: black;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scroll-show::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll-show::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.6);
  border-radius: 10px;
}

.scroll-show::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.scroll-hide {
  scrollbar-width: none;
}

.scroll-show {
  scrollbar-width: thin;
}

